/* Fonts */
@font-face{
    font-family:'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family:'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
/* Navbar/header related */
#navbar-menu{
    display: none;
}
.a{
    transition: 100ms;
}
.deco{
    transition: 100ms;
    text-decoration: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 2px;
    color: black;
}
.a:hover{
    text-decoration: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 3px;
    color: black;
}
.nav-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px; 
    color: #060606;
}
.cstm{
    margin-top: -43px!important;
}
.logo{
    width: 159px;
    height: 95px;
}
@media(max-width:520px){
    .logo{
        width: 78px;
        height: 72px;
    }
}
@media (min-width: 1500px){
    .b{
        margin-right: 55px;
    }
    .c{
        margin-right: 47px;
    }
    .d{
        margin-right: 55px;
    }
    .e{
        margin-right: 45px;
    }
    .f{
        margin-right: 47px;
    }
    .g{
        margin-right: 171px;
    }
    .logo{
        width: 159px;
        height: 95px;
        margin-left: 26px;
        margin-right: 30px;
    }
}
@media (max-width: 1500px){
    .g{
        margin-right: 101px;
    } 
}
@media (max-width: 1115px){
    .g{
        margin-right: 0px;
    }
}
nav{
    padding-top: 50px;
    justify-content: flex-end;
    font-family: Montserrat;
    font-size: 18px;
    color: #060606;
    width: 100%; 
    text-align: center;
    position: relative;
}
li{
    padding-left: 20px;
}
.first{
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-left: -24px;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25)); 
}
@media (max-width:991px){
    #navbar-menu2{
        display: none;
    }
    #navbar-menu{
        display: block;
    }
    .text-spacing{
        word-spacing: 50px;
    }
    li.nav-item{
        padding-left: 0;
    }
    li.nav-item-language.dropdown.navbar-toggle{
        padding-left: 0;
    }
}
/* Mainpage */
/* Video image */
.image{
    width: 100%;
    height: auto;
}
/* About sparkleheart */
.text{
    width: 100%;
    align-content: center;
    align-items: center;
}
.text-font{
    padding: 130px 0;
    width: 47%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
}
@media (max-width: 425px){
    .text-font{
        font-size: 11px;
        width: 60%;
    }
}
/* Image collage related, phone and computer versions */
.imagess{
    height: 50%;
}
@media (max-width:320px){
    .photo-con{
        width: 100%;
    }
}
.top-image{
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.top-image2{
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.collage-computer{
    display: block;
    margin-bottom: 100px;
}
.collage-phone{
    display: none;
}
@media (max-width:768px){
    .collage-computer{
        display: none;
    }
    .collage-phone{
        display: block;
    }
    .photo-con{
        width: 100%;
    }
    .brin{
        height:50%;
    }
    .alina{
        height:50%;
    }

    .double2{
        height: 100%;
    }
    .lauma-2{
        width: 38%;
    }
    .brin-3{
        width: 62%;
    }
    .image-column2-2{
        display: flex;
        flex-direction: column;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 50%;
    }
    .lauma{
        width: 50%;
    }
 
}
.images{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.try{
    width: 100%;
}
.fit{
    width: 52%;
}
.photo-con{
    margin-bottom: 250px;
    height: auto;
    width: 100%;
}
.double{
    width: 43%;
}
.anda{
    width: 57%;
}
.zanda{
    width: 50%;
}
.sibilla{
    width: 50%;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}
.image-column{
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.image-column2{
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#image-width{
    width: 25%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bottom-image{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: -3%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bottom-image2{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: -4%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Adjustment elements */
.px-4{
    margin-left: 62px;
    margin-right: 24px;
}
.pt-5{
    padding-top: 4rem!important;
}
.m-4{
    margin: 1.5rem 0 0 1.5rem!important;
}
@media (max-width:780px){
    .col-sm-8 {
        flex: 0 0 auto;
        width:100%;
        margin: auto;
        margin: 20px 0;
    }
    #image-width{
        width: 25%;
    }
}
.fb-margin{
    margin-right:29px;
}
@media (min-width: 780px){
    .col-sm-8 {
        flex: 0 0 auto;
        width: 50%;
        
    }
}
    @media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
.px-3{
    padding-right: 0rem!important;
    padding-left: 0rem!important;
    
}
.p-4{
    padding: 1rem 1rem 0rem 1rem!important;
    background-color:#2F4858;
}
p{
    margin-top: 0;
    margin-bottom: -1rem;
}
/* Fulfill your dreams buttons */
.dream{
    align-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 36px;
    color: #2F4858;
}
.custom-button{
    width: 233px;
    height: 50px;
    background-color: #ffa800;  
    border-width: 0;
    border-radius: 25px;
    color: white;
    transition: 200ms;
    margin-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.custom-button:hover{
    background-color: #ffda16;
}
.custom-button:active{
    background-color: #ff8a00;
}
/* Contact us form */
.title-margin{
    margin: 60px;
}
.box{
    align-items: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #2F4858;
    width: 650px;
    margin:auto;
}
.col .form-control{
    width: 296px;
    height: 43px;
    margin-top: 15px;
    
}
@media (max-width:780px){
    .col .form-control{
        width: 612px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .box{
        width: auto;
    }
    .box2{
        width: auto;
        align-content: center;
        margin: auto;
    }
    .form-control{
        width: 612px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    } 
    .field{
        width: auto;
        margin: 0 20px 0 0;
    }  
}
@media (max-width:650px){
    .col .form-control{
        width: 390px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .test{
        width: 390px;
    }
    .form-control{
        width: 390px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .field{
        width: auto;
        margin-left: 35px;
    }    
}
@media (max-width:500px)
{
    .col .form-control{
        width: 290px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .test{
        align-content: center;
        margin-top: 15px;
    }
    .form-control{
        width: 290px;
        align-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .field{
        width: auto;
        float: none;
    }
    .field{
        margin-left: 35px;
    }   
}
.row{
    --bs-gutter-x: 0;
}
.form-control{
    align-content: center;
    margin-top: 15px;
    height: 43px;
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}
.form-control:focus{
    background-color: rgba(196, 196, 196, 0.4);
}
.box2{
    width: 620px;
}
.placehold{
    padding-bottom: 195px;
}
.height{
    height: 232px;
}
.field{
    text-align: start;
    width: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F4858;
    float: left;
    margin-top: 10px;
}
.pad{
    width: 100%;
    align-content: center;
    align-items: center;
    margin: auto;
}
.form{
    margin-top: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
/* Sponsors/Supporter section */
.box3{
    padding: 100px  0 0 0;
}
.yellow-footer .title-margin{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
}
.yellow-footer{
    width: 100%;
    height: 300px;
    margin: auto;
    align-content: center;
    text-align: center;
}
.yellow-footer .row .col{
    width: auto;
}
.display{
    display: none;
}
@media (max-width:880px){
    #atbal1{
        width: 144px;
        height: 47px;
        margin-left: 20px;
    }
    #atbal2{
        width: 123px;
        height: 47px;
    }
    #atbal3{
        width: 142px;
        height: 47px;
    }
    #atbal4{
        width: 49px;
        height: 71px;
        margin:0 20px 0 10px;
    }
}
/* Main footer */
.footer-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.footer-content{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.footer-license{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.texts{
    margin-bottom: 12px;
}
.spaced{
    margin-bottom: 22px;
}
#goldimage{
    width: 182px;
    height: 182px;
    margin-left: 62px;
}
.aa{
    height: 24px;
    margin-bottom: 21px;
}
.bb{
    height: 45px;
}
.cc{
    height: 29px;
}
#link > li > div > a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-bottom: 21px;
}
#link2{
    position: absolute;
    bottom: 8px;
    right: 8px;
}
#right > div, #right > div > a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
#right > div.text-end {
    position:relative;
}
#Icon{
    padding-right: 40px;
    padding-bottom: 35px;
    text-align: right;
}
#Icon > p > i{
    height: 36px;
    margin-left: 29px;
}
#toggle{
    display: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
@media (min-width:880px){
    .col{
        width: 25%;
    }
    .column3-display{
        display: none;
    }
    #toggle-display{
        display: block!important;
    }
    .column4-display2{
        display: none;
    }
    .column4-display{
        display: block !important;
    } 
}
.column4-display{
    display: none;
}
@media (max-width:880px){
    #Icon{
        padding-right: 0px!important;
    }
    .column4-width{
        width: 100% !important;
    }
    .column2-display{
        display: none;
    }
    .column4-display{
        display: none;
    }
    .column4-display2{
        display: block;
        width: 78%;
        text-align: right;
    }
    #toggle{
        display: block;
    }
    .test{
        display: none;
    }
    .displayy{
        display: none;
    }
    .footer-display{
        display: none;
    }
    div.col-md-3.justify-content-center{
        width: 50%;
    }
    .text-end{
        text-align: left!important;
        width: 50%;
    }
    .align {
        margin-left: 0px!important;
    }
    #goldimage{
        margin-bottom: 44px;
        width: 162px;
        height: 162px;
    }
}
/* Combination of both Footers  
(footer1 = sponsors/supporter footer, footer2 = main footer) */
.footer1{
    background-image: url("../img/footer1.png");
    width: 100%;
    height: 481px;
    margin-bottom: -40px;
}

.footer2{
    background-image: url("../img/footer2.png");
    color: white;
}
@media(max-width:768px){
    .footer1{
        background-image: url("../img/footer1_tablet.png");
    }
    .footer2{
        background-image: url("../img/footer2_tablet.png");
    }
}

@media(max-width:550px){
    #atbal1
    {
        margin-left: 22px;
        margin-top:4px;
        width: 130px;
        height: 44px;
    }
    #atbal2
    {
        width: 131px;
        height: 51px;
        margin-right: 21px;
    }
    #atbal3
    {
        margin-right: 22px;
        margin-top: 18px;
        margin-left:21px;
        width: 131px;
        height: 44px; 
    }
    #atbal4
    {
        margin-right: 63px;
        margin-top: 31px;
        width: 48px;
        height: 67px;
    }
    .display{
        display: block;
    }
    .footer1{
        background-image: url("../img/footer1_phone.png");
    }
    .footer2{
        background-image: url("../img/footer2_phone.png");
    }

    #goldimage {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
    }
    #Icon{
        padding: 35px 0 45px 0;
        padding-right: 0px!important;
        text-align: left;
    }
    .p-4{
        margin-right: 0px;
        padding: 1rem 2rem 0rem 2rem!important;
    }
    .px-4{
        margin-right: 0px!important;
    }
    #link2{
        text-align: right;
    }
    .text-end {
        text-align: left!important;
        margin-top: 35px;
    }
    .spaced{
        margin-bottom: 30px;
    }
    .footer-header{
        font-weight: 500!important;
        font-size: 18px!important;
        line-height: 22px!important;
    }
    .footer-content{
        font-weight: 500!important;
        font-size: 12px!important;
        line-height: 15px!important;
    }
    .footer-license{
        font-weight: 500!important;
        font-size: 11px!important;
        line-height: 13px!important;
    }
    #button-displ{
        display: block;
    }
    .toggle{
        font-size: 17px;
        line-height: 22px;
    }
    .column4-display2{
        display: none !important;
    }
    .column4-display{
        display: block !important;
    }
    #goldimage{    
        margin-bottom: 0px;
    }
    #right > div, #right > div > a {

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
    }
}
/* Ideja page */
.carousell{
    text-decoration: none;
}
.arrow{
    margin-top: 30px;
}
.idea-box{
    padding-top: 82px;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center;
}
.idea-box2{
    padding-top: 60px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 606px;
    height: 202px;
    margin: auto;
}
.boxs{
    width: 100%; 
    background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
    z-index: -1; 
}
#snow{
    width: auto;
    z-index: -1;
    position: relative;
    height: 707px; 
    overflow: hidden;
    height: auto;
}
@media(min-width:1377px){
    #snow{
        width: 100%;
    }  
}
@media(max-width:1020px){
    #snow{
        right: 25%;      
    }  
}
@media(max-width:768px){
    #snow{

        height: 499px;
    }  
}
@media(max-width:650px){
    #snow{
        right: 40%;
    }  
}
@media(max-width:572px){
    #snow{
        right: 50%;
    }  
}
@media(max-width:482px){
    #snow{
        right: 85%;
    }  
}
@media(max-width:368px){
    #snow{
        height: 476px;
    }  
}
@media(max-width:366px){
    #snow{
        right: 116%;
    }  
}
@media (max-width:320px){
    .photo-con{
        width: 100%;
    }
    .idea-box2{
        width: 606px;
        height: 112px;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    }
    .idea-box{
        font-family: Oswald;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: center;
    }
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#container{
    position: relative;
    z-index: -100;  
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 150px;
    overflow: hidden;
}
#image{
    position: absolute;
    left: 0;
    top: 0;
}
#text{
    z-index: 100;
    color: white;
    width: 818px;
    height: 108px;
    margin: auto;
    position: absolute;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    vertical-align:bottom;
    color: #FFFFFF;
    right: 0;
    left: 0;
    margin-top: -170px;
}
@media (max-width:950px){
    #text{
      width: 695px;
      height: 108px;
      font-size: 22px;
    }
}
@media (max-width:786px){
    #text{
        width: 595px;
        height: 138px;
        font-size: 20px;
    }
  }
@media (max-width:770px){
    #text{
        width: 480px;
        height: 168px;
      font-size: 18px;
    }
}
@media (max-width:705px){
    #text{
        width: 400px;
        height: 168px;
        font-size: 18px;
    }
    .idea-box2{
        font-size: 16px;
        width: 406px;
        height: 112px;
    }
}
@media (max-width:480px){
    #text{
        width: 280px;
        height: 168px;
        font-size: 18px;
        margin-top: -245px;
    }
    .idea-box2{
        font-size: 12px;
        width: 280px;
        height: 124px;
        
    }
}
.comments{
    padding: 120px 0;
    margin:auto;
    width: 602px;
    height: 420px;
    position: relative;
}
.username{
    width: 388px;
    height: 29px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #2F4858;
}
.occupation{
    width: 500px;
    height: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2F4858;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content{
    width: 602px;
    height: 119px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #2F4858;
}
@media (max-width:786px)
{
    .username{
        width: 388px;
        height: 29px;
    }
    .occupation{
        margin-top: 5px;
        margin-bottom: 9px;
        width: 500px;
        height: 25px;
    }
    .content{
        width: 602px;
        height: 119px;
    }
}
@media (max-width:680px){      
    .comments{
        width: 502px;
    }
    .username{
        font-size: 21px;
        width: 288px;
    }
    .occupation{
        font-size: 15px;
        width: 400px;
    }
    .content{
        font-size: 21px;
        width: 502px;
    }
}
@media (max-width:600px){      
    .comments{
        width: 302px;
        height: 420px;
    }
    .username{
        font-size: 18px;
        line-height: 27px;
        width: 280px;
        height: 29px;
    }
    .occupation{
        width: 280px;
        height: 39px;
        font-size: 14px;
        line-height: 17px;

    }
    .content{
        width: 279px;
        height: 66px;
        font-size: 12px;
        line-height: 15px;
    }
}
.space{
    padding-right: 47px;
}
.foor{
    width: 22%!important;
}
@media(max-width: 1150px){
    .column2-padding{
        padding-left: 0px;
    }
    #goldimage{
        margin-left: 10px;
    }
    .align{
        margin-left: -50px;
    }
    .px-4{
        margin-left: 0px;
    }
}
/* Piesaki sapni */
.dreams{
    margin: 120px auto 0 auto;
    width: 818px;
    text-align: center;
}
.title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    align-items: center;
    text-align: center;
    color: #2F4858;
    padding-bottom: 60px;
}
.title-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2F4858;
    margin-bottom: 90px;
}
@media(max-width:872px){
    .dreams{
        margin: 120px auto 0 auto;
        height: 160px;
        width: 608px;
        text-align: center; 
    }  
}
@media(max-width:625px){
    .dreams{   
        height: 160px;
        width: 280px;
    }
    .title{
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
    }
    .title-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}
.dream-margin{
    margin: 146px auto 146px auto;
}
.dreaming{
    width: 50%;
    text-align: center;
    height: 100%;
}
.dream-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center; 
    color: #2F4858;
    width: 394px;
    margin: auto;
    height: 176px;
    margin-bottom: 50px;
}
.dream-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    color: #2F4858;
    margin: auto;
    padding:60px 0 30px 0;
}
.dream-button{
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 233px;
}
.personal-img{
    width: 166px;
    height: 198px;
}
.pro-img{
    width: 170px;
    height: 198px;
}
@media(max-width:768px)
{
    .dreaming{
        width: 100%;
        float: none;
        margin-top: 100px;
    }
    .dream-margin{
        margin-top:0px;
    }
}
@media(max-width:556px){
    .pro-img{
        width: 150px;
        height: 186px;
    }
    .personal-img{
        width: 159px;
        height: 190px;
    }
    .dream-title{
        width: 280px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
    .dream-text{
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        width: 280px;
        height: 108px;
    }
    .phone-height{
        height: 65px;
    }
}
/* Uzņēmējiem */
.title-text2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4858;
    margin-bottom: 90px;
}
@media (max-width:625px){
    .title-text2{
        font-size: 14px;
        line-height: 17px;
    }
}
.sapnu-title{
    width: 394px;
    height: 45px;   
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;   
    color: #2F4858;
    margin: 150px auto 0 auto;
}
.sapnu-box {
    width: 52%;
    margin: 90px auto 110px auto;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.sapnu-sun{
    width: 150px;
    height: 150px;
    
}
.sapnu-glasses{
    width: 150px;
    height: 100px;
}
.sapnu-mountain{
    width: 150px;
    height: 130px;
    margin-left : 67px;   
}

div.sapnu-box.flex {
    float: right;
    width: 1284px;
    height: 115px;
    margin: 0 auto 110px auto;
}
.sapnu-box-text{
    color: #2F4858;
    width: 500px;
    height: 89px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left:62px;
    align-items: center;
}
div.sapnu-box-text.glasses{
    height: 59px;
}
div.sapnu-box-text.mountain{
    width: 495px;
    height: 96px;
    align-items: center;
    text-align: right;
 
}
@media(max-width:1366px){
    div.sapnu-box.flex {
        width: 984px;
    }
    .sapnu-box {
        width: 52%;
    }
    .sapnu-box-text{
        width: 353px;
        height: 135px;
    }
    div.sapnu-box-text.glasses{
        height: 70px;
    }
    div.sapnu-box-text.mountain{
        width: 351px;
        height: 114px; 
    }
}
@media(max-width:1097px){
    .sapnu-box {
        flex-direction: column;
    }
    .sapnu-box-text{
        width: 700px;
        margin-left: 0;
        text-align: center;
    }
    div.sapnu-box.flex {
        width: 100%;
        margin: 90px auto 110px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .sapnu-sun{
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    .sapnu-glasses{
        width: 150px;
        height: 100px;
        margin-bottom: 20px;

    }
    .sapnu-mountain{
        width: 150px;
        height: 130px; 
        margin: 0 0 20px 0;
    }
    div.sapnu-box-text.mountain{
        margin: auto;
        width: 700px;
        text-align: center;
    }

}
@media(max-width:768px){
    .sapnu-box {
        width: 280px;
    }
    .sapnu-box-text{
        width: 280px;
        height: 89px;
        font-size: 12px;
    line-height: 15px;
        margin-left: 0;
        text-align: center;
    }
    div.sapnu-box.flex {
        width: 100%;
        margin: 90px auto 110px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .sapnu-sun{
        width: 118px;
        height: 118px;
        margin-bottom: 20px;
    }
    .sapnu-glasses{
        width: 118px;
        height: 79px;
        margin-bottom: 20px;

    }
    .sapnu-mountain{
        width: 118px;
        height: 103px; 
        margin: 0 0 20px 0;
    }
    div.sapnu-box-text.mountain{
        margin: auto;
        width: 280px;
        height: 89px;
        text-align: center;
    }
    .sapnu-title{
        width: 280px;
        font-size: 24px;
        line-height: 36px;
    }
}
.sapnu-title-text{
    margin: 50px auto 150px auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2F4858;
    width: 818px;
    height: 31px;
}
@media(max-width:1000px){
    .sapnu-title-text{
        width: 600px;
    }
}@media(max-width:680px){
    .sapnu-title-text{
        width: 280px;
        font-size: 18px;
        line-height: 22px;
    }
}
.sapnu-content{
    background-image:url("../img/footer1.png") ;
    height: 481px;
    width: 100%;
    padding:40px 0 59px 0;
    margin-bottom: 150px;
}
.content2{
    width: 300px;
    height: 237px;

    margin: auto;
}
.content-img{
    height: 237px;
    width: 328px;
}
.content-text{
    width: 818px;
    height: 72px;
    margin: 40px auto 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.sapnu-text{
    width: 287px;
    height: 95px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2F4858;
    margin: auto;
}
.sapno{
    margin-top: 60px;
}
@media(max-width:768px){
    .sapno{
        margin-top: 90px;
    }
}
.atlas_1{
    width: 154px;
    height: 150px;
    margin-bottom: 30px;
}
.atlas_2{
    width: 191px;
    height: 120px;
    margin-bottom: 30px;
}
@media(max-width:867px){
    .content-text{
        width: 608px;
        height: 95px;
    }
}
@media(max-width:768px){
    .content-text{
        width: 280px;
        height: 97px;
        font-size: 18px;
        line-height: 22px;
    }
    .content-img{
        height: 197px;
        width: 288px;
    }
}

.submit{
    width: 603px;
    height: 29px;
    color: #FFA800;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.titles{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 60px auto 30px auto;
}
@media (max-width:768px){
    .submit{
        width: 280px;
        height: 22px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .titles{
        font-size: 18px;
        line-height: 22px;
    } 
}
.location-con{
    width: 596px;
    margin: 90px auto 60px auto;
    height:auto;
    display: flex;
    flex-direction: row;
}
.location-box{
    width: 288px;
}
.dropdown-text{
    width: 282px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFA800;
}
.spac{
    margin-right: 20px;
}
.dropdowns{
    width: 288px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #2F4858;
    padding: 9px 60px 10px 15px;
}
.dropdowns:focus{
    border-radius: 6px 6px 0 0;
    border-bottom: 0px;
}
.borders{
    height: 9px;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
    vertical-align: middle;
    overflow: hidden;
}
@media (max-width:625px){
    .location-con{
        flex-direction: column;
        height: 254px;
        width: 290px;
        margin: 80px auto 80px auto;
    }
    .location-box{
        margin-top: 40px;
    }
    .dropdowns{
        font-size: 14px;
        line-height: 17px;
    }
    .dropdown-text{
        font-size: 14px;
        line-height: 17px;
    }
}
#riga{
    display: block;
}
#jelgava{
    display: block;
}
#ogre{
    display: block;
}
#food{
    display: block;
}
select option { 
    line-height: 20px;
}
.dropdowns{
    font-size: 18px;
    line-height: 22px;
}
.boxs2{
    width: 100%; 
    z-index: -1; 
    margin-bottom: -44px;
}
#map{
    width: 100%;
    height: auto;
    
}
@media (max-width:1366px){
    #map{
        width: auto;
        z-index: -1;
        position: relative;
        height: 648px; 
        overflow: hidden;
    }
}
@media (min-width:1920px){
    #map{    
        height: 1215px;
        }
}
#zoom{
    margin: auto 67px 170px auto;
}
#container2{
    position: relative;
    z-index: -100;  
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 150px;
    overflow: hidden;
}    
#zoom{
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    vertical-align:bottom;
    color: #FFFFFF;
    right: 0;

    margin-top: -209px;
}
#pad{
    margin-bottom: 22px;
}
@media (max-width:1024px){
    #zoom{
        display: none;
    }
}


#wrapper {
      height:848px;
      width:100%;
      overflow: hidden;
  }
  #inner {
    background-image: url('../img/map.png');
background-size: 1366px 848px;
    height: 848px;

  }

  .inner:hover {
      cursor: pointer;
  }
  @media (max-width:768px){
    #inner{
        margin-left: -386px;
    }

}
@media (max-width:568px){
    #inner{
        margin-left: -467px;
    }
}
.size{
    width: 21px;
    height: 33px;
}
@media (max-width:425px){
    .size{
        width: 19px;
        height: 29px;
    }
}
.position{
    position: relative;
}
.pin1{
    top: 444px;
    left: 482px;
}
.pin2{
    left: 672px;
    top: 76px;
}
.pin3{
    top: 120px;
    left: 648px;
}
#pin1{
    display: block; 
}
#pin2{
    display: block;
}
#pin3{
    display: block;
}
.select-box{
    position: absolute;
    width: 486px;
    height: 174px;
    background: rgba(255, 168, 0, 0.5);
    border-radius: 14px;
    display: none;
    top: 368px;
    left: 530px;
  }
  .select-box2{
    position: absolute;
    width: 486px;
    height: 174px;
    background: rgba(255, 168, 0, 0.5);
    border-radius: 14px;
    display: none;
    top: 33px;
    left: 1005px;
  }
  .select-box3{
    position: absolute;
    width: 486px;
    height: 174px;
    background: rgba(255, 168, 0, 0.5);
    border-radius: 14px;
    display: none;
    top: 111px;
    left: 970px;
  }
  .pin1:hover + .select-box{
    display: flex;
    flex-direction: row;
  }
  .pin2:hover + .select-box2{
    display: flex;
    flex-direction: row;
  }
  .pin3:hover + .select-box3{
    display: flex;
    flex-direction: row;
  }
  .pin1-pop{
      width: 120px;
      height: 60px;
      margin: 57px 19px 57px 29px;
  }
  .popup-con{
      height: 127px;
      width: 290px;
      margin: 22px 27px 25px 0;
  }
  .popup-title{
    width: 290px;
    height: 37px;
    margin-bottom: 30px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #2F4858;
  }
  .popup-info{
    width: 290px;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #2F4858;
  }
@media (min-width:1366px){
    #wrapper {
        height:848px;
    }
    #inner{
        background-size: 1920px 848px;
        height: 848px
    }
    .pin1{
        left: 675px;
    } 
    .pin2{
        left: 953px;
    }
    .pin3{
        left: 918px;   
    }
    .select-box{
        left: 724px;
    }
  }
  @media (max-width:1365px){
    .select-box2{
        left: 724px;
    }
    .select-box3{
        left: 700px;
    }
  }
@media (max-width:425px){
    .select-box{
        width: 280px;
        height: 200px;
        display: none;
        flex-direction: none;
    }
    .pin1-pop{
        width: 112px;
        height: 55px;
        margin: 15px 15px 0 153px;
        text-align: right;
    }
    .popup-con{
        height: 100px;
        width: 100%;
        margin: 0 15px 15px 60px;
    }
    .popup-title{
        width: 204px;
        height: 24px;      
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        text-align: right;
        color: #2F4858;
        margin: 15px 0 20px 0;
    }
    .popup-info{
        width: 205px;
        height: 56px;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: right;
        color: #2F4858;

    }
    .pin1:hover + .select-box{
        display: block;
        flex-direction: none;
      }
}  
.display-conn{
    display: block;
    width: 823px;
    height: 230px;
    margin: 120px auto 60px auto;
}
.purch{
    width: 823px;
    height: 120px;
    margin-bottom:33px;
}
.kurts{
    width: 823px;
    height: 98px;
}
.occupation-name{
    width: 288px;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    color: #2F4858;
    display: flex;
    margin: -72px auto 0 217px;
}
.occupation-adress{
    width: 288px;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: right;
    color: #2F4858;
    margin: -40px 0 0 535px;  
}
@media(max-width:768px){
    .display-conn{
        display: none;
    }
}
#purch{
    display: none;
}
#kurts{
    display: none;
}
@media(max-width:1024px){
    .display-conn{
        width: 608px;
        height: 230px;
        margin: 120px auto 60px auto;
    }
    .occupation-name{
        width: 225px;
        height: 60px;
        margin-left: 128px;
        margin-top: -73px;
    } 
    .occupation-adress{
        width: 225px;
        height: 60px;
        margin: -40px 0 0 383px; 
    }
    .purch{
        width: 608px;
        height: 120px;
        margin-bottom:33px;
    }
    .kurts{
        width: 608px;
        height: 98px;
    }
    #kurt, #purc{
        width: 98px;
        height: 98px;
    }
}
.stasti{
    width:1044px;
    height:2944;
    margin: 150px auto 152px auto;
}
.background{
    background-image: url("../img/99background.png");
    width: 160px;
    height: 160px;
    margin:0 0 14px 0;
}
.background_2{
    background-image: url("../img/99background_2.png");
    width: 160px;
    height: 160px;
    margin:0 0 14px 0;
    background-repeat: no-repeat;
}
/*background right margin*/.brm{
    margin-right: 14px;
}
.row99{
    display: inline-flex;
    flex-direction: row;
}
.image-opacity{
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
}
.number-99{
    width: 17.9px;
    height: 41.76px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: right;
    color: #FFFFFF;
    margin: 116.93px 0 0 128px;
    opacity: 1;
}
.number-99_2{
    width: 44px;
    height: 42px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: right;
    color: #FFFFFF;
    margin: 116.93px 0 0 104px;
    opacity: 1;
}
.text_99{
    position: absolute;
    width: 160px;
    height: 160px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 43px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.text_99_2{
    position: absolute;
    width: 160px;
    height: 160px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-top: 43px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.row99_tablet{
    display: none;
}
.row99_phone{
    display: none;
}
.custom-button-2{
    display: none;
}
@media (max-width:1150px){
    .text_99_2{
        width: 143px;
        height: 143px;
    }
    .text_99{
        width: 143px;
        height: 143px;
    }
    .image-opacity{
        width: 143px;
        height: 143px;
    }
    .background{
        width: 143px;
        height: 143px;
        margin:0 0 12px 0;
    }
    .background_2{
        width: 143px;
        height: 143px;
        margin:0 0 12px 0;
        background-repeat: no-repeat;
    }
    .number-99{
        margin: 97.93px 0 0 109px;
    }
    .number-99_2{
        margin: 98.93px 0 0 82px;
    }
    .brm{
        margin-right: 12px;
    }
    .stasti{
        width:604px;
    }
    .row99{
        display: none;
    }
    .row99_tablet{
        display: inline-flex;
        flex-direction: row;
    }

    #tag{
        display: none;
    }
    .mrg{
        margin: 50px auto 150px auto;
    }
    .custom-button-2{
        width: 233px;
        height: 50px;
        background-color: #ffa800;  
        border-width: 0;
        border-radius: 25px;
        color: white;
        transition: 200ms;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        display: block;
    }
    .custom-button-2:hover{
        background-color: #ffda16;
    }
    .custom-button-2:active{
        background-color: #ff8a00;
    }
    #more{
        display: block;
    }
    #less{
        display: none;
    }
    .row99_phone{
        display: none;
    }
}
@media (max-width:768px){
    .row99_tablet{
        display: none;
    }
    .row99_phone{
        display: flex;
        flex-direction: row;
    }
    .text_99_2{
        width: 134px;
        height: 134px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    .text_99{
        width: 134px;
        height: 134px;
        font-size: 24px;
        line-height: 36px;
        margin-top: 33px;
    }
    .image-opacity{
        width: 134px;
        height: 134px;
    }
    .background{
        width: 134px;
        height: 134px;
        margin:0 0 12px 0;
    }
    .background_2{
        width: 134px;
        height: 134px;
        margin:0 0 12px 0;
    }
    .number-99{
        margin: 89.93px 0 0 103px;
    }
    .number-99_2{
        margin:89.93px 0 0 78px;
    }
    .brm{
        margin-right: 11px;
    }
    .stasti{
        width:279px;
    }
}
.mrgg{
    margin-top: 30px;
}
.image-con{
    display: flex;
    flex-direction: row;
    width:1035px;
    margin: 0 auto 120px auto;
    
}
.imagesss{
    width: 289px;
    height: 365px;
    background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
}
.sss{
    margin-right: 84px;
}
.onee{
    background-image: url("../img/juris_1.png");
}
.twoo{
    background-image: url("../img/girts_2.png");
}
.threee{
    background-image: url("../img/janis_3.png");
}
.rectangle{
    width: 289px;
    height: 78px;
    margin-top: -77px;
}
.image-name{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

}
.image-info{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
@media (max-width:1080px){
    .image-con{
        display: flex;
        flex-direction: column;
        width:280px;
        margin: 0 auto 120px auto;
        
    }
    .sss{
        margin-right: 0px;
        margin-bottom: 25px;
    }
}